{
  "extends": ["airbnb", "next/core-web-vitals", "prettier"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "import/extensions": "off",
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "off",
    "import/prefer-default-export": "off",
    "react/no-array-index-key": "off",
    "react/button-has-type": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
